body {
  padding-top: 70px;
}

#canvasContainer {
	text-align: center;
}

#gameDiv {
	text-align: center;
}

canvas {
	margin: auto;
	border: 4px solid #bdbfc1;
}

#jum{
    height: 300px;
    padding: 0px;
    position: relative;
}

.fondo{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: inherit;
}

#bkgr{
    width: inherit;
    height: inherit;
}

.logo1{
    position: absolute;
    top: 5%;
    left: 5%;
}

#lo1{
    width: 150px;
}

.texto{
    top: 20%;
    position: absolute;
    width: 100%;
    text-align: center;
}
